<div class="col py-3 wait">
    <div class="search">
        <input type="text" placeholder="Find related questions">
        <button>Search</button>
    </div>
    <hr>


    <div class="row style">
       
        <h2>{{questiondetails.title}}</h2>
        <div class="col-md-12 content">
            <div class="bg">
                <!-- <h5>{{user.time}}</h5> -->
                <p>{{questiondetails.content}}</p>

            </div>
            <div class=" profile">
                <h4>{{questiondetails.author!}}</h4>
            </div>
        </div>

    </div>

    <hr>
    <h1>Answers</h1>
    <div>
        <app-answer *ngFor="let answer of answerdetails" [answer]="answer"></app-answer>
    </div>
    <hr>
    <div class="row texta mt-5">

        <div class="col-md-12">
            <div class="heading1">Write your answer here</div>
            <textarea name="text" id="" cols="30" rows="10" placeholder="the issue is..."></textarea>
            <div><button type="submit" (ngSubmit)="onSubmit()">Post your answer</button></div>
        </div>

    </div>