<div class="container">
   
        <nav>
            <a routerLink="" fragment="home" >Q&A Hub</a> 
             <ul>
                 <li><a routerLink="question">Questions</a></li>
                 <li><a routerLink="" fragment="about">About</a></li>
                  <li><a routerLink="" fragment="service">Services</a></li>
                 <li><a routerLink="" fragment="pricing">Pricing</a></li>
                 <li><a routerLink="login">login</a></li>
                 <li><a routerLink="register">Sign up</a></li>
             </ul>
         </nav>  
    
   
    <div class="row py-auto">
        <div class="col-md-6 co">
            <h1>Q&A HUB</h1>
            <h3>Have a Worry?</h3>
            <h4>Q&A Hub got you cover <br> Get Specific answers to all your Questions</h4>
            <input type="text" placeholder="Search">
            
        </div>
       <div class="col-md-6">
        <img src="../../../../assets/Group 37 (1).png" alt="">
       </div>
    </div>
    


</div>