
.container{
    max-width: 100%;
    height: 700px;
    justify-content: center;
    background-image: url("../../../../assets/Rectangle 1.png");
}
ul{
    display: flex;
    float: right;
    padding-right: 40px;
   
   
}
ul li{
    padding-left: 40px;
    list-style-type: none;
    
}
.yes{
    background-color: red;
}
nav{
    padding-top: 5px;
    width: 100%;
    height: 40px;
    position: fixed;
    display: block;
}
nav a{
    text-decoration: none;
   
    justify-content: space-between;
    margin-left: 0px;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
.row{
    display: flex;
    align-items: center;

   padding-top: 100px;
   align-content: center;
   padding-left: 100px;
   padding-right: 100px;
   border-radius: 50px;
   

}
.col img{
    width: 100%;
    height: auto;
    padding-left: 50px;
   
}
@keyframes example{
    0% {color: black;}
    25% { color: blueviolet;}
    50% { color: rgb(226, 189, 43);}
    75% { color: rgb(43, 49, 226);}
    100% { color: rgb(43, 226, 122);}
}



.co h1{

    font-size: 5vw;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation-name: example;
    animation-duration: 4s;
}
.co h3{
    font-size: 2vw;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.co h4{
    font-size: 1.5vw;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
}
input{
    width: 100%;
    border: 2px solid  rgb(246, 244, 124);
    background-color: transparent;
    padding-left: 10px;
    height: 40px;
    border-radius: 50px;
    
}
