    <div class="col py-3 wait">
            <h1>
                Ask a Question
            </h1>
            <h2>
                Fill in the form guide below
            </h2>
            <form [formGroup]="AskQuestion" (ngSubmit)="onSubmit()">
            <div class="title">
                <div><label for="title">Title</label></div>
                <input type="text" placeholder="give a title to your question e.g how to create components in angular?" formControlName="title">
                
            </div>


                <div class ="texta">
                    <div class = "heading1">Details of your Question</div>
                    <textarea name="text" id="" cols="30" rows="10" placeholder="the issue is..." formControlName="content"></textarea>
                   
                </div>

                <div class="title">
                    <div><label for="title">Tags</label></div>
                    <h4>Add tags to describe your question</h4>
                    <input type="text" placeholder="e.g #tech" formControlName="tag">
                   
                </div>
                <div class="bg"><button type="submit">Post your Question</button></div>
            </form>
                
            
    </div>

  