<div class="container row">
    <div class="col-md-6 co">
        <h1>About Us</h1>
        <h4>Its all about getting answers to your questions with the garanted of having,<br>just the best answers to your questions.<br>Its simple Just type your Q and A professional will help you<br>with the answer. Service website templates that are attractive,<br> easy to use and flexible enough to be customized <br>to suit any industry with minimal time and effort.</h4>
        <button>Ask a question now</button>
    </div>
    <div class="col-md-6 colu">
        <img src="../../../../assets/Individual seeking help.png" alt="">
    </div>
</div>
