<div>
    <nav>
        <a routerLink="" fragment="home" >Q&A Hub</a> 
         <ul>
             <!-- <li><a routerLink="question">Questions</a></li> -->
             <li><a routerLink="" fragment="about">About</a></li>
              <li><a routerLink="" fragment="service">Services</a></li>
             <li><a routerLink="" fragment="pricing">Pricing</a></li>
             <li><a routerLink="login">login</a></li>
             <li><a routerLink="register">Sign up</a></li>
         </ul>
     </nav>  
</div>
