.container{
    text-align: center;
   margin-top: 100px;
}
.headings h3{
    color: #00A888;
    font-size: 1vw;
}
.co{
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
   justify-content: center;
   border: 2px solid blueviolet;
   border-radius: 4px;
 
   
    
}
.co h3{
    font-size: 1vw;
}
.co hr{
    color: blueviolet;
}
.row{
    justify-content: space-evenly;
}
.co button{
    border: 0;
    color: white;
    background-color: blueviolet;
    height: 40px;
    width: 250px;
    border-radius: 4px;
    margin-bottom: 30px;
    margin-top: 25px;

}
.co h2{
    font-size: 3vw;
}
.co p{
    margin-top: 20px;
    font-weight: lighter;
}