<div class="container">
    <div class="headings">
        <h2>Deals</h2>
        <h3>To get the best experience, Subscribe to one of our plans that best works for you.</h3>
    </div>
    <div class="flex">
        <div class="row" *ngFor="let items of dealsSection">
            <div class="col-md-12 co">
                <p>{{items.heading1}}</p>
                <h2>{{items.heading2}}</h2>
                <hr>
                <h3>{{items.firsttext}}</h3>
                <hr>
                <h3>{{items.secondtext}}</h3>
                <hr>
                <h3>{{items.thirdtext}}</h3>
                <button>{{items.buttext}}</button>
            </div>
        </div>
    </div>
</div>