.back{
    background-color: #f7f7b6;
    color: black;
    position: fixed;
    
    
}
ul li a{
    color: #707070;
    font-weight: 400;
}
.wait{
    width: calc(100% - 300px) !important;
    left: 300p !important;
    position: relative;
    margin-left: auto;
}