<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 back">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline nav-underline" routerLinkActive="active">Q&A HUB</span>
                </a>
                <hr>

                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0" routerLinkActive="active" routerLink="questions">
                            <fa-icon class="fs-4 bi-house" [icon]="faques"></fa-icon> <span class="ms-1 d-none d-sm-inline">Questions</span>
                        </a>
                        <a href="#" class="nav-link align-middle px-0" routerLinkActive="active" routerLink="answer">
                            <fa-icon class="fs-4 bi-house" [icon]="farcon"></fa-icon> <span class="ms-1 d-none d-sm-inline">Answer</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="nav-link px-0 align-middle" routerLinkActive="active" routerLink="ask">
                            <fa-icon class="fs-4 bi-house" [icon]="faques"></fa-icon> <span class="ms-1 d-none d-sm-inline">Ask a
                                Question</span></a>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle "
                            routerLinkActive="active">
                            <i class="fs-4 bi-bootstrap"></i> <span
                                class="ms-1 d-none d-sm-inline">Subcription</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Monthly</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Yearly</span> 2</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="nav-link px-0 align-middle" routerLinkActive="active">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">More Info</span> </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30"
                            class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">loser</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">History</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9 py-3 wait">
              <router-outlet></router-outlet>
            <!--app-allquestionpage></app-allquestionpage>
            <app-questionpage></app-questionpage>
            <app-askquestion></app-askquestion-->
        </div>
    </div>