
        <div class="col py-3">
            <div class="search">
                <input type="text" placeholder="Find related questions">
                <button>Search</button>
            </div>
            <hr>
            
          
            <div class="row" *ngFor="let user of questiondetails"  >
                <div class="col-md-2 profile">
                    <h4>{{user.name}}</h4>
                </div>
                <div class="col-md-10 content">
                    <h2>{{user.title}}</h2>
                    <hr>
                    <div class="bg">
                        <h5>{{user.time}}</h5>
                        <p>{{user.question}}</p>
                     
                    </div>
                    <div> 
                     <button>Answer</button>
                     <button (click)="onClick()">View answers</button>
                    </div>
                  
                </div>
             
         </div>
  
         <hr> 
       