/* You can add global styles to this file, and also import other style files */
*{
    max-width: 100%;
    margin: 0;
    padding-top: 0;
}
.active{
    
    border-bottom: 2px solid red;
    border-radius:4px;
}